html,body{
	min-height: 100%;
}
.wrapper{
	width: 90%;
	max-width: 1024px;
	min-width: 600px;
	min-height: 100%;
	margin: 20px auto;
}
.wrapper .header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 250px;
	margin-bottom: 20px;
    box-shadow: 0 0 10px 2px #d5d6e8;
    background: #f8f9fe;
}
.wrapper .main{
	min-height: 100%;
	box-shadow: 0 0 10px 2px #d5d6e8;
	background: #f8f9fe;
}
.wrapper .header .logo{
	position: relative;
	width: 45%;
	color:#230E2d;
	font-family: "Mali",Arial;
}
.wrapper .header .photo-name{
	width: 45%;
}
@keyframes logo-p-first{
	from{
		top:-500px;
	}
	to{
		top:-20px;
	}
}
@keyframes logo-p-second{
	from{
		left:-500px;
	}
	to{
		left:25%;
	}
}
.wrapper .header .logo p:first-of-type{
	position: absolute;
	left:15%;
	font-size:50px;
	font-weight: bold;
	animation: logo-p-first 1s ease-in;
}
.wrapper .header .logo p:last-of-type{
	position: absolute;
	top:80px;
	left:-500px;
	font-size:50px;
	font-weight: bold;

	animation: logo-p-second 1s ease-in 1s forwards;
}
.wrapper .header .photo-name .photo{
	width: 200px;
	height: 170px;
	margin: 10px auto;
	border-radius: 50%;
	background: url('https://yt3.ggpht.com/a-/AJLlDp0I8PUNsivlLPBbfMe1Q4RphSuyvMJkbDPPXQ=s900-mo-c-c0xffffffff-rj-k-no');
    background-size: cover;
}
.wrapper .header .photo-name .name{
	text-align: center;
	font-size: 27px;
	color:gray;
	font-weight: bold;
	font-family: "Poppins",Arial;
}
